<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}" {{end}}>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  {{ hugo.Generator }}

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{- end }}
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/poole.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/hyde.css">
  {{ partial "head_fonts.html" . }}

  <!-- Icons -->
  <link rel="shortcut icon" href="/favicon.ico">

  <script>
    function darkmode() {
      document.body.classList.toggle("dark-mode");
    }
  </script>

  <!-- RSS etc -->
  {{ range .AlternativeOutputFormats -}}
  {{ printf `
  <link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
  {{ end -}}

  {{ partial "hook_head_end.html" . }}
</head>
