<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}">
        <h1>{{ .Site.Title }}</h1>
      </a>
      <p class="lead">
        {{ .Site.Params.description }}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        {{ range sort .Site.Menus.main ".Name" "desc" }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>
  </div>
  <div class="dark-mode-button-wrapper">
    <button class="button button1" onclick="darkmode()">Dark Mode</button>
  </div>
</div>
